[Unit]
Description=Late Report Timer - Run daily at 01:00 MSK
Requires=late-report.service

[Timer]
OnCalendar=01:00 Europe/Moscow
# Каждый день в 01:00 по московскому времени
AccuracySec=5min
Persistent=true

[Install]
WantedBy=timers.target
